@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}

.filter{
  margin: 0 10px;
  padding: 0 10px;
  color: blue;
}
.filter:hover{
  cursor: pointer;
}
.filter.active{
  color: black;
  border-bottom: 1px solid;
}
.text-end{
  text-aligt:right
}